@import 'styles/variables/main.scss';

.returnForm__container{
   min-height: 80vh;
   height: 100%;
   width: 100%;
   background-image: url('../../../../src/assets/Background-Form.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right top;
}
.returnForm__contentBox{
   margin: 0 auto;
   max-width: 1400px;
   height: 100%;
   padding: 4.5rem 2.5rem;
   &_main{
      display: grid;
      gap: 3rem;
      min-height: calc(80vh - 9rem);
      width: fit-content;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;

   }
}

.returnForm__btnBox{
   display: flex;
   gap: 2rem;
   align-self: flex-end;
}
.returnForm__btn{
   cursor: pointer;
   background-color: transparent;
   font-family: $font-base;
   font-size: 1.1rem;
   font-weight: 400;
   border: 1px solid;
   border-color: $color-gray-dark;
   padding: 0.5rem 1.5rem;

   &:hover{
      background-color: rgb($color-yellow, 0.5);
   }
}

@media screen and (max-width: 1400px) {
   .returnForm__container{
      background-position: right -20rem top;
   }
}
@media screen and (max-width: 900px) {
   .returnForm__container{
      background: transparent;
   }
}



//       Step 1       //

.stepOne__box{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 2rem;
   h2{
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 600;
   }
   label{
      font-size: 1rem;
      display: grid;
      grid-template-columns: 1rem auto;
      gap: 0.75rem;
      align-items: center;
      input[type="checkbox"] {
         background-color: transparent;
         font: inherit;
         color: transparent;
         width: 1.15rem;
         height: 1.15rem;
         border: 0.05rem solid;
         border-radius: 0.15rem;
         border-color: $color-gray-dark;
         cursor: pointer;
         display: grid;
         place-content: center;
         &::before {
            content: "";
            width: 1.15rem;
            height: 1.15rem;
            border: 0.05rem solid $color-gray-dark;
            border-radius: 0.15rem;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1rem 1rem $color-yellow;
         }
         &:checked{
            &::before{
               transform: scale(1);
            }
         }
      }
   }
}


//       Step 2      //

.stepTwo__box{

   h2{
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 600;
   }
}
.stepTwo__boxItems{
   position: relative;
   display: flex;
   align-items: center;
   width: fit-content;
   flex-wrap: wrap;
   gap: 2rem;
}
.main_btn{
   background-color: transparent;
   border: 0.05rem solid $color-gray-dark;
   min-width: 5rem;
   cursor: pointer;
   display: flex;
   gap: 1rem;
   align-items: center;
   font-size: 1rem;
   padding: 0.5rem 1rem;
   img{
      width: 1.1rem;
      height: 0.9rem;
      transition: 250ms;
   }
   .rotateArrow{
      transform: rotate(180deg);
   }
}
.stepTwo__absoluteBox{
   position: absolute;
   top: 120%;
   right: 0;
   max-height: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   transition: 250ms;
   z-index: 1;
   button{
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      font-size: 0.8rem;
      background-color: transparent;
      backdrop-filter: blur(50px);
      border: 0.05rem solid $color-gray-dark;
      &:hover{
         background-color: rgb($color-yellow, 0.5);
      }
   }
}
.stepTwo__absoluteBox_active{
   max-height: 999px;
}

@media screen and (max-width: 900px) {
   .stepTwo__boxItems{
      gap: 1rem;
      justify-content: flex-end;
   }
   .stepTwo__absoluteBox{
      button{
         background-color: $color-white;
      }
   }
}



//       Step 3      //

.stepThree__box{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   h2{
      font-size: 1.4rem;
      font-weight: 600;
   }
   .stepThree__boxItems{
      @extend .stepTwo__boxItems;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      h3{
         font-size: 1.2rem;
         font-weight: 500;
      }
   }
}
.stepThree__absoluteBox{
   @extend .stepTwo__absoluteBox;
   button{
      width: 100%;
      background-color: $color-white;
   }
}
.stepThree__absoluteBox_active{
   max-height: 999px;
}
.stepThree__boxItems_helpBtns{
   width: 25rem;
   display: flex;
   flex-wrap: wrap;
   gap: 0.75rem;
   button{
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      cursor: pointer;
      border: 0.05rem solid $color-gray-dark;
      &:hover{
         background-color: rgb($color-yellow, 0.5);
      }
   }
}
.input__enterOrganization{
   width: 100%;
   margin-top: 1rem;
   font-size: 1rem;
   background-color: transparent;
   border: 0.05rem solid $color-gray-dark;
   padding: 0.5rem 1rem;
   &:focus, 
   &:target,
   &:active{
      outline: 0.15rem solid $color-yellow;
   }
}
.helpBtn_active{
   background-color: $color-yellow;
}


@media screen and (max-width: 900px) {
   .stepThree__boxItems_helpBtns{
      width: 100%;
      button{
         background-color: transparent;
      }
   }
}




//       Step 4      //

.stepFour__box{
   h2{
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 2rem;
   }
   .stepFour__inputBox{
      display: flex;
      flex-direction: row;
      gap: 4rem;
      &_column{
         width: calc(50% - 2rem);
         display: flex;
         flex-direction: column;
         gap: 2rem;
         h3{
            font-size: 1.1rem;
            font-weight: 600;
         }
         div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
               width: 35%;
            }
            input{
               width: 60%;
               padding: 0.5rem 1rem;
            }
            textarea{
               width: 60%;
               min-height: 4rem;
               padding: 0.5rem 1rem;
               resize: vertical;
            }
            input,
            textarea{
               background-color: $color-white;
               font-size: 0.8rem;
               border: 0.1rem solid $color-gray-dark;
               &:focus{
                  outline: 0.1rem solid $color-yellow;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 900px) {
   .stepFour__box{
      h2{
      }
      .stepFour__inputBox{
         flex-direction: column;
         &_column{
            width: 100%;
         }
      }
   }
}



//       Summation      //

.summation__box{
   max-width: 40rem;
   width: 40rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 2rem;
   h2{
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
   }  
}
.summation__header{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
   h3{
      font-size: 1.2rem;
      font-weight: 600;
   }
   div{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      img{
         width: 2rem;
         height: 2rem;
      }
   }
}
.summation__columns{
   display: flex;
   gap: 4rem;
   width: 100%;
   &_column{
      width: calc(50% - 2rem);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3{
         font-size: 1.2rem;
         font-weight: 600;
         margin-bottom: 0.5rem;
      }
      div{
         font-size: 1.1rem;
         line-height: 1.6rem;
         display: flex;
         gap: 0.5rem;
         p{
            display: inline-block;
            width: 40%;
         }
         span{
            display: inline-block;
            width: 60%;
         }
      }
   }
}


@media screen and (max-width: 900px) {
   .summation__box{
      max-width: 100%;
      width: 100%;
      h2{
         font-size: 1.4rem;
         font-weight: 600;
         margin-bottom: 2rem;
      }
   }
   .summation__columns{
      flex-direction: column;
      &_column{
         width: 100%;
      }
   }
}


//       ThankYou       //

.thankYou__box{
   width: 100%;
   height: 40rem;
   width: 30rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 900px) {
   .thankYou__box{
      width: 100%;
   }
}