@import "styles/variables/main.scss";

.main_section_container{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   .statistics_box{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
      background-image: url('../../../../assets/Background-Yellow.webp');
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 40px;
      padding-bottom: 80px;
      margin-bottom: 50px;
      .statistic{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 20px;
         min-width: 15rem;
         max-width: 20rem;
         h3{
            text-align: center;
            font-size: 4rem;
            line-height: 4.5rem;
            font-weight: 300;
         }
         h5{
            text-align: center;
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: -0.02rem;
            text-transform: uppercase;
         }
         p{
            text-align: center;
            font-size: 0.85rem;
            line-height: 1.3rem;
            letter-spacing: -0.02rem;
            font-weight: 300;
         }
      }
   }
   .manual_box{
      width: 100%;
      background-color: $color-white;
      padding-top: 70px;
      padding-bottom: 80px;
      margin: 50px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 120px;
      .manual_step{
         max-width: 8rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 8px;
         p{
            text-align: center;
            font-size: 0.9rem;
            line-height: 1.3rem;
         }
         .border_bottom_div{
            width: 50%;
            border-bottom: 1px solid #707070;
         }
      }
   }
}


@media screen and (max-width: 700px) {
   .main_section_container{
      .manual_box{
         gap: 50px;
      }
   }
}




//       Icon animations????????????????????       //