.grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   row-gap: 16px;
   column-gap: 16px;
}

@for $i from 1 to 12 {
   .col-#{$i} {
      grid-column-start: span $i;
      width: 100%;
   }
}
