@import 'styles/variables/main.scss';

// Navigation

.navigation_box{
   position: absolute;
   top: 2rem;
   right: 2rem;
   z-index: 1;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   opacity: 1;
   transition: 500ms;
   div{
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      align-items: center;
   }
   ul{
      display: flex;
      gap: 30px;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      scroll-behavior: smooth;
   }
}
.acc_management_btn{
   cursor: pointer;
   background-color: transparent;
   color: $color-gray-dark;
   font-family: 'Open Sans', sans-serif;
   padding: 10px 20px;
   font-size: 0.7rem;
   line-height: 1.1rem;
   border: none;
   &:hover{
      background-color: rgba($color-yellow, 0.5);
   }
}
.nav_hamburger_button{
   display: none;
   background-color: transparent;
}
@media screen and (max-width: 800px) {
   .navigation_box{
      position: fixed;
      background-color: $color-yellow;
      padding: 20px 20px 60px;
      width: 100%;
      right: 0;
      top: -100%;
      transform-origin: top;
      ul{
         flex-direction: column;
         align-items: flex-start;
         padding-left: 2rem;
      }
   }
   .mobile_nav_open{
      top: 0;
   }

   .nav_hamburger_button{
      position: fixed;
      display: block;
      left: 16px;
      top: 16px;
      width: 40px;
      height: 40px;
      z-index: 2;
      cursor: pointer;
      border: 5px solid $color-yellow;
      background-color: $color-yellow;
   }
   .burger_open{
      div{
         width: 100%;
         height: 3px;
         background-color: $color-gray-dark;
         color: transparent;
         transition: 250ms;
         &:nth-child(1){
            transform-origin: center;
            position: absolute;
            top: 10%;
            right: 0%;
            transform: rotate(0);
         }
         &:nth-child(2){
            opacity: 1;
            position: absolute;
            top: 50%;
            right: 0%;
         }
         &:nth-child(3) {
            transform-origin: center;
            position: absolute;
            top: 90%;
            right: 0%;
            transform: rotate(0);
         }
      }
   }
   .burger_closed{
      div{
         width: 100%;
         height: 3px;
         background-color: $color-gray-dark;
         color: transparent;
         transition: 500ms;
         &:nth-child(1){
            transform-origin: center;
            position: absolute;
            top: 50%;
            right: 0%;
            transform: rotate(45deg);
         }
         &:nth-child(2){
            opacity: 0;
         }
         &:nth-child(3) {
            transform-origin: center;
            position: absolute;
            top: 50%;
            right: 0%;
            transform: rotate(-45deg);
         }
      }
   }
}


// NavigationButton


.navigation_btn{
   cursor: pointer;
   background-color: transparent;
   color: $color-gray-dark;
   font-family: 'Open Sans', sans-serif;
   padding: 10px 20px;
   font-size: 0.8rem;
   line-height: 1.2rem;
   border: none;
   &:hover{
      background-color: rgba($color-yellow, 0.5);
   }
}
.active_button{
   border: 1px solid $color-gray-dark;
}


// Footer


.footer_box{
   position: relative;
   bottom: 0;
   z-index: 10;
   p{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      white-space: nowrap;
      transition: 500ms;
      font-size: 1rem;
      line-height: 1.4rem;
   }
   div{
      position: absolute;
      bottom: 20px;
      right: 1rem;
      display: flex;
      gap: 1rem;
      img{
         cursor: pointer;
      }
   }
}
@media screen and (max-width: 600px) {
   .footer_box{
      p{
         left: 10px;
         transform: translateX(0);
      }
   }
}