@import 'styles/variables/main.scss';

.header_section_container{
   min-height: 100vh;
   width: 100%;
   position: relative;
   background-image: url('../../../../assets/Home-Hero-Image.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right 40rem top 0px ;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.header_content{
   width: max-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 65px;
   padding-right: 10rem;
   .button_box{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;  
      flex-wrap: wrap;
      gap: 3rem;
   }
}

@media screen and (max-width: 1840px){
   .header_section_container{
      background-size: cover;
      background-position: right 30rem top;
   }
   .header_content{
      padding: 50px;
   }
}

@media screen and (max-width: 900px) {
   .header_section_container{
      justify-content: center;
      background: transparent;
   }
   .header_content{
      padding: 20px;
   }
}