@import 'styles/variables/main.scss';

.input__style{
   position: relative;
   width: 100%;
   min-width: 270px;
   background-color: transparent;
   &_input{
      position: relative;
      border: none;
      outline: none;
      border-bottom: 2px solid $color-gray-dark;
      width: 100%;
      font-size: 0.9rem;
      line-height: 1.4rem;
      padding: 15px 10px;
      background-color: transparent;
      &:focus{
         border-color: $color-yellow !important;
      }
      z-index: 1;
   }
   &_label{
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px 10px;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 1.4rem;
      transition: all 300ms;
   }
   &_labelActive{
      top: -14px;
      left: 5px;
      font-size: 0.7rem;
      font-weight: 600;
      padding: 0 3px;
   }
   .input__style_error{
      color: $color-red;
      display: none;
      font-size: 0.6rem;
      margin-top: 5px;
   }
   &_textbox{
      min-height: 200px;
      resize: vertical;
   }
   &_textboxError{
      display: block !important;
   }
   .colorRed{
      border-color: $color-red;
   }
   input:invalid {
      border-color: $color-red;
   }
   input:invalid ~ span{
      display: block;
   }
   &_icon{
      position: absolute;
      top: 20px;
      left: 100%;
      transform: translateX(-100%);
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 1;
   }
}


@media screen and (max-width: 900px) {
   .input__style{
      &_input{
         font-size: 1.1rem;
         line-height: 1.6rem;
      }
      &_label{
         font-size: 1.1rem;
         line-height: 1.6rem;
      }
      &_labelActive{
         font-size: 0.9rem;
      }
      .input__style_error{
         font-size: 0.8rem;
      }
   }
}