@import './reset.scss';
@import './variables/main.scss';

html{
   font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (2400 - 300)));
}
#__next{
   position: relative;
}
body{
   font-family: $font-base;
   color: $color-gray-dark;
   button:focus{
      outline-color: $color-yellow;
   }
}